[Unit]
Description=Lachesis Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=fantom
ExecStart=node_exporter --path.rootfs=/host

[Install]
WantedBy=multi-user.target